<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodieHut"
        tools:targetApi="31">
        <activity
            android:name=".Admin.AdminHomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Admin.AnalyticsActivityAdmin"
            android:exported="false">

        </activity>
        <activity
            android:name=".Admin.ManageOrderStatusAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ManageOrdersAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.ManageMenuItemAdmin"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PlacedOrders"
            android:exported="false" />
        <activity
            android:name=".Admin.SignUpAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.HomeAdmin"
            android:exported="false" />
        <activity
            android:name=".Admin.LoginAdmin"
            android:exported="true"></activity>
        <activity
            android:name=".ui.DetailedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AddMenuItemAdmin"
            android:exported="false" />
        <activity
            android:name=".StoreMapActivity"
            android:exported="false" />
        <activity
            android:name=".nav"
            android:exported="false"
            android:label="@string/title_activity_nav"
            android:theme="@style/Theme.FoodieHut.NoActionBar" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".LoginUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdmhvJppaA2t8evwAjyd-Zja8NWlTucq0" />
    </application>

</manifest>